# .travis.yml
language: go

go:
  - 1.15.x

env:
  - GO111MODULE=on

services:
  - docker

after_success:
  - docker login -u="$DOCKER_USER" -p="$DOCKER_PASSWORD"

deploy:
  - provider: script
    cleanup: false
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux